<a href="https://colab.research.google.com/github/LakshmisrujanaMajeti/Internship-2/blob/main/employe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:

df = pd.read_excel("/content/drive/MyDrive/Employee_Details_Dataset.xlsx")
df.head()
print(df)

  Employee ID           Name  Age  Department        Designation  \
0        E001       John Doe   30          IT  Software Engineer
1        E002     Jane Smith   27          HR         HR Manager
2        E003  Alice Johnson   35     Finance         Accountant
3        E004      Bob Brown   40  Operations    Operations Head
4        E005  Charlie Davis   29   Marketing     Marketing Lead

  Date of Joining  Salary                   Email  Phone Number  \
0      2020-06-15   70000    john.doe@example.com  123-456-7890
1      2018-03-20   65000  jane.smith@example.com  987-654-3210
2      2015-11-01   80000     alice.j@example.com  456-789-1230
3      2012-08-18  100000       bob.b@example.com  321-654-9870
4      2019-07-10   75000   charlie.d@example.com  654-123-0987

                Address
0    123 Elm Street, NY
1    456 Oak Street, CA
2   789 Pine Street, TX
3  234 Maple Street, WA
4  567 Cedar Street, IL

In [9]:
print('first few rows:')
print(df.head())

first few rows:
  Employee ID           Name  Age  Department        Designation  \
0        E001       John Doe   30          IT  Software Engineer
1        E002     Jane Smith   27          HR         HR Manager
2        E003  Alice Johnson   35     Finance         Accountant
3        E004      Bob Brown   40  Operations    Operations Head
4        E005  Charlie Davis   29   Marketing     Marketing Lead

  Date of Joining  Salary                   Email  Phone Number  \
0      2020-06-15   70000    john.doe@example.com  123-456-7890
1      2018-03-20   65000  jane.smith@example.com  987-654-3210
2      2015-11-01   80000     alice.j@example.com  456-789-1230
3      2012-08-18  100000       bob.b@example.com  321-654-9870
4      2019-07-10   75000   charlie.d@example.com  654-123-0987

                Address
0    123 Elm Street, NY
1    456 Oak Street, CA
2   789 Pine Street, TX
3  234 Maple Street, WA
4  567 Cedar Street, IL

In [10]:
print("/n summary statistics:")
print(df.describe())

/n summary statistics:
             Age         Salary
count   5.000000       5.000000
mean   32.200000   78000.000000
std     5.263079   13509.256086
min    27.000000   65000.000000
25%    29.000000   70000.000000
50%    30.000000   75000.000000
75%    35.000000   80000.000000
max    40.000000  100000.000000

In [11]:
filtered_data = df[df['Age'] > 30]
print("/n filtered data(age>30):")
print(filtered_data)

/n filtered data(age>30):
  Employee ID           Name  Age  Department      Designation  \
2        E003  Alice Johnson   35     Finance       Accountant
3        E004      Bob Brown   40  Operations  Operations Head

  Date of Joining  Salary                Email  Phone Number  \
2      2015-11-01   80000  alice.j@example.com  456-789-1230
3      2012-08-18  100000    bob.b@example.com  321-654-9870

                Address
2   789 Pine Street, TX
3  234 Maple Street, WA

In [14]:
sorted_data=df.sort_values(by='Salary',ascending=False)
print("/n sorted data(salary in descending order):")
print(sorted_data)

/n sorted data(salary in descending order):
  Employee ID           Name  Age  Department        Designation  \
3        E004      Bob Brown   40  Operations    Operations Head
2        E003  Alice Johnson   35     Finance         Accountant
4        E005  Charlie Davis   29   Marketing     Marketing Lead
0        E001       John Doe   30          IT  Software Engineer
1        E002     Jane Smith   27          HR         HR Manager

  Date of Joining  Salary                   Email  Phone Number  \
3      2012-08-18  100000       bob.b@example.com  321-654-9870
2      2015-11-01   80000     alice.j@example.com  456-789-1230
4      2019-07-10   75000   charlie.d@example.com  654-123-0987
0      2020-06-15   70000    john.doe@example.com  123-456-7890
1      2018-03-20   65000  jane.smith@example.com  987-654-3210

                Address
3  234 Maple Street, WA
2   789 Pine Street, TX
4  567 Cedar Street, IL
0    123 Elm Street, NY
1    456 Oak Street, CA

In [15]:
df['Bonus']=df['Salary']*0.1
print("/n Data with new column (Bonus):")
print(df)

/n Data with new column (Bonus):
  Employee ID           Name  Age  Department        Designation  \
0        E001       John Doe   30          IT  Software Engineer
1        E002     Jane Smith   27          HR         HR Manager
2        E003  Alice Johnson   35     Finance         Accountant
3        E004      Bob Brown   40  Operations    Operations Head
4        E005  Charlie Davis   29   Marketing     Marketing Lead

  Date of Joining  Salary                   Email  Phone Number  \
0      2020-06-15   70000    john.doe@example.com  123-456-7890
1      2018-03-20   65000  jane.smith@example.com  987-654-3210
2      2015-11-01   80000     alice.j@example.com  456-789-1230
3      2012-08-18  100000       bob.b@example.com  321-654-9870
4      2019-07-10   75000   charlie.d@example.com  654-123-0987

                Address    Bonus
0    123 Elm Street, NY   7000.0
1    456 Oak Street, CA   6500.0
2   789 Pine Street, TX   8000.0
3  234 Maple Street, WA  10000.0
4  567 Cedar Street, IL   7500.0

In [16]:
df.to_excel('output.xlsx',index=False)
print("/n Data exported to output.xlsx")

/n Data exported to output.xlsx