<a href="https://colab.research.google.com/github/LakshmisrujanaMajeti/Internship-2/blob/main/hackthon_stat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
ds = pd.read_csv('C:/Users/Intel/Desktop/most_runs_average_strikerate.csv')

In [ ]:
ds

            batsman  total_runs  out  numberofballs    average  strikerate
0           V Kohli        5426  152           4111  35.697368  131.987351
1          SK Raina        5386  160           3916  33.662500  137.538304
2         RG Sharma        4902  161           3742  30.447205  130.999466
3         DA Warner        4717  114           3292  41.377193  143.286756
4          S Dhawan        4601  137           3665  33.583942  125.538881
..              ...         ...  ...            ...        ...         ...
511        ND Doshi           0    1             13   0.000000    0.000000
512         J Denly           0    1              1   0.000000    0.000000
513         S Ladda           0    2              9   0.000000    0.000000
514  V Pratap Singh           0    1              1   0.000000    0.000000
515       S Kaushik           0    1              1   0.000000    0.000000

[516 rows x 6 columns]

In [ ]:
mean = ds['total_runs'].mean()
print(mean)

430.6259689922481

In [ ]:
median = ds['out'].median()
print(median)

5.5

In [ ]:
mode = ds['numberofballs'].mode()
print(mode)

0    2
Name: numberofballs, dtype: int64

In [ ]:
count = ds['average'].count()
print(count)

482

In [ ]:
std = ds['strikerate'].std()
print(std)

39.63393844500512

In [ ]:
maxValue = ds['average'].max()
print(maxValue)

88.0

In [ ]:
minValue = ds['numberofballs'].min()
print(minValue)

1

In [ ]:
 ds.describe()

        total_runs         out  numberofballs     average  strikerate
count   516.000000  516.000000     516.000000  482.000000  516.000000
mean    430.625969   17.063953     335.645349   16.355074  105.433442
std     882.275431   28.124511     663.593679   11.146222   39.633938
min       0.000000    0.000000       1.000000    0.000000    0.000000
25%      15.000000    2.000000      17.000000    8.000000   84.362069
50%      74.000000    5.500000      68.000000   14.607143  111.651584
75%     340.500000   18.000000     290.000000   23.657609  130.499036
max    5426.000000  161.000000    4111.000000   88.000000  250.000000